#include "resource.h"
IDB_GAME BITMAP "racer.bmp"
IDB_OPTIONS BITMAP "colorracers.bmp"
IDB_START BITMAP "colorracers.bmp"
IDB_COLOR1 BITMAP "fullcolor.bmp"
IDB_COLOR1CHOSE BITMAP "fullcolor.bmp"
IDB_COLOR2 BITMAP "fullcolor.bmp"
IDB_COLOR2CHOSE BITMAP "fullcolor.bmp"
IDB_PAUSING BITMAP "colorracers.bmp"
IDB_ENDING BITMAP "racers.bmp"
IDB_EXITING BITMAP "colorracers.bmp"
IDB_HELPING BITMAP "colorracers.bmp"
IDB_CREDITS BITMAP "colorracers.bmp"
IDB_AUDIO BITMAP "AudioGif.bmp"
IDB_GRAPHICS BITMAP "colorracers.bmp"
IDB_NEWGAMEBUTTON BITMAP "Game.bmp"
IDB_MAINMENUBUTTON BITMAP "Menu.bmp"
IDB_BACKBUTTON BITMAP "Back.bmp"
IDB_SETTINGSBUTTON BITMAP "Settings.bmp"
IDB_AUDIOBUTTON BITMAP "Audio.bmp"
IDB_GRAPHICSBUTTON BITMAP "Graphics.bmp"
IDB_RESUMEBUTTON BITMAP "Resume.bmp"
IDB_HELPBUTTON BITMAP "Help.bmp"
IDB_CREDITSBUTTON BITMAP "Credits.bmp"
IDB_EXITBUTTON BITMAP "Exit.bmp"
IDB_HIGHLIGHT BITMAP "Highlight.bmp"
IDB_VOLUMEBAR BITMAP "VolumeBar.bmp"
IDB_SELECTOR BITMAP "Selector.bmp"
IDB_MUTEBUTTON BITMAP "Mute.bmp"